* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
html {
  scroll-behavior: smooth;
}

progress {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  height: 5px;
  position: fixed;
  z-index: 10;
  background-color: white;
}

/* https://www.hongkiat.com/blog/html5-progress-bar/ */
progress::-webkit-progress-bar {
  background-color: lightgray;
}

progress::-webkit-progress-value {
  background: #113d14;
  background: -webkit-gradient(linear, left top, right top, from(#113d14), to(#38b736));
  background: linear-gradient(90deg, #113d14 0%, #38b736 100%);
}

progress::-moz-progress-bar {
  background: #113d14;
  background: linear-gradient(90deg, #113d14 0%, #38b736 100%);
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: fixed;
  background-color: #00BACB;
  padding: 20px;
}

.overlay h2 {
  font-weight: bold;
}

.overlay p {
  text-align: center;
  font-size: 1.2em;
  margin: 0px 0;
}

.overlay a {
  color: black;
  text-decoration: none;
  -webkit-transition: all 125ms ease-in;
  transition: all 125ms ease-in;
}

.overlay a:hover,
.overlay a:focus {
  color: #FF6C73;
}

h1, h2, h3 {
  font-family: minion-pro, serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ededed;
  width: 100%;
  /* HELP */
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  width: 200px;
  padding: 10px;
  /*  height: 110px; */
}

.dropdown {
  display: none;
}

/* Menu icon */
/* https://codepen.io/designcouch/pen/Atyop?editors=1100 */
#nav-icon1 {
  width: 40px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 5;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  z-index: 3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 12px;
}

#nav-icon1 span:nth-child(3) {
  top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#big-photo {
  background-image: url(/images/bg-opt.jpg);
  background-position: center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.cta {
  border-radius: 20px;
  padding: 0.3em 5em;
  width: 300px;
  -webkit-transition: width 2s;
  transition: width 2s;
  text-align: center;
  background-color: #006D88;
  display: block;
  border: none;
  margin: 30px auto;
  min-width: 300px;
}

.cta a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

.cta:hover,
.cta:hover a {
  background-color: white;
  color: #FF6C73 !important;
}

/* SECTION ONE Big Photo */
#shadow {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  padding: 1.6em;
}

#shadow h1, #shadow p, #shadow a {
  color: white;
  text-align: center;
  padding: .4em;
}

#shadow h1 {
  margin-top: 40px;
}

img {
  width: 300px;
}

/* Bruger tips */
#usertips {
  background-color: #FF6C73;
  text-align: center;
  margin-top: 150px;
}

#usertips h2 {
  position: relative;
  bottom: 110px;
}

.bruger {
  background-color: #006D88;
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  position: relative;
  bottom: 100px;
}

.bruger img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px auto;
}

.bruger .username {
  color: white;
  font-size: 1.2em;
  margin-top: -10px;
}

.bruger .usermsg {
  color: white;
  line-height: 30px;
  padding: 1.5em;
}

/* Nyhedsbrev */
#newsletter {
  background-color: #00BACB;
  width: 100%;
  height: 250px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

#newsletter > p {
  margin: 10px 50px;
}

#newsletter form {
  margin: 50px auto 0 auto;
  width: 450px;
  min-width: 450px;
}

#newsletter input, #newsletter label {
  display: block;
}

#newsletter label {
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: left;
}

#newsletter .form-item {
  float: left;
}

#newsletter input {
  border-radius: 20px;
  border: none;
  padding: 0.8em 1.2em;
  margin-right: 20px;
}

#newsletter input[type="submit"] {
  background-color: #006D88;
  color: white;
  margin-top: 20px;
  width: 410px;
  font-size: 1.2em;
  padding: 0.4em 4em;
  font-weight: bold;
  cursor: pointer;
}

#newsletter input[type="submit"]:hover {
  background-color: white;
  color: #FF6C73 !important;
}

/* Vores redaktion */
h2 {
  text-align: center;
  margin: 40px 0 10px 0;
}

#redektion {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

#redektion .person {
  width: 180px;
  margin: 20px;
}

#redektion img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  border-radius: 50%;
  padding-bottom: 10px;
}

/* Artikel */
article h1 {
  padding-left: 10px;
  margin-top: 40px;
}

article h2 {
  text-align: left;
  padding: 0em 0.6em;
  margin: 20px 0 0 0;
  font-size: 1.4em;
}

article p {
  padding: .5em 1em;
  line-height: 1.4em;
  clear: both;
}

article img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
}

.source {
  font-size: .8em;
  background-color: #FF6C73;
  text-align: right;
  margin: 0;
  padding: 0;
  width: auto;
  position: relative;
  bottom: 5px;
  float: right;
}

#author {
  padding: 0 0 1em 10px;
  font-size: .9em;
  color: #006D88;
}

/* Footer */
footer {
  background-color: #006D88;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

footer h3 {
  font-size: 1.5em;
  margin: 15px 0 5px 0px;
}

footer p {
  padding: .2em;
}

#copyright {
  margin-top: 4em;
  text-align: center;
}

@media screen and (min-width: 650px) {
  #nav-icon1 {
    display: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover {
    color: #FF6C73;
  }
  .dropdown h2 {
    margin: 10px 60px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content li {
    width: 200px;
    padding: 10px;
    list-style-type: none;
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FF6C73;
  }
  .dropdown:hover .dropdown-content,
  .dropdown:focus .dropdown-content {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 2em;
  }
  #usertips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .bruger {
    width: 40%;
    margin: 40px auto;
  }
  #newsletter {
    text-align: center;
  }
  article {
    width: 90%;
    margin: 0 auto;
  }
  .source {
    font-size: .8em;
    background-color: #FF6C73;
    text-align: right;
    margin: 0;
    padding: 0;
    width: auto;
    position: relative;
    bottom: 5px;
    float: right;
  }
  .kilder a {
    color: black;
  }
  .kilder a:hover {
    color: #FF6C73;
  }
}

@media screen and (min-width: 950px) {
  :root {
    font-size: 20px;
  }
  #usertips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .bruger {
    width: 30%;
    margin: 40px auto;
  }
  article {
    width: 60%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */